/* start contact styles */
.contact-wrapper {
    height: 40px;
    background-color: var(--contact-wrapper-color);
}

.company-name span {
    font-size: 15px;
}

.social-media{
    direction: ltr;
}

.social-media a i {
    text-align: center;
    width: 38px;
    font-size: 18px;
    margin: 0 2px 0 0;
    color: white;
    padding: 10px;
    transition: 0.25s linear;
}

.social-media i:hover {
    transform: scale(1.2);
}

/* end contact styles */

/* start media queries custom */
/* end media queries custom */