.bg-loading {
  width: 100%;
  height: 100%;
  cursor: progress;
  position: absolute;
  background-color: #fff;
  z-index: 2;
}

.loading-text {
  position: absolute;
  left: 51%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.loading {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 9px solid var(--contact-wrapper-color);
  border-right: 10px solid transparent;
  border-radius: 50%;
  z-index: 2;
  animation: loading .75s linear infinite;
}

@keyframes loading {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media only screen and (max-width: 576px) {
  .loading-text {
    font-size: 20px;
    top: 40%;
  }
  .loading {
    width: 50px;
    height: 50px;
    border: 6px solid var(--contact-wrapper-color);
    border-right: 5px solid transparent;
  }
}
