html {
  height: 100%;
}

body {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
  color: #444;
  margin: 0;
  font: normal 14px/20px Arial, Helvetica, sans-serif;
  height: 100%;
  background-color: #fff;
}

h1 {
  margin: 0;
  font-size: 150px;
  line-height: 150px;
  font-weight: bold;
}

h2 {
  margin-top: 20px;
  font-size: 30px;
}

.section-mother {
  height: auto;
  min-height: 100%;
}

.section-child {
  text-align: center;
  width: 800px;
  margin-left: -400px;
  position: absolute;
  top: 30%;
  left: 50%;
}
