@charset "UTF-8";
@import "_root.css";
@import "_loading.css";
@import "_contact.css";

@font-face {
  font-family: Vazir-Medium;
  src: url(../fonts/Vazir-Medium.eot) format(eot);
  src: url(../fonts/Vazir-Medium.eot?#iefix) format(embedded-opentype),
    url(../fonts/Vazir-Medium.woff) format(woff),
    url(../fonts/Vazir-Medium.woff2) format(woff2),
    url(../fonts/Vazir-Medium.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url(../fonts/Vazir.eot) format(eot);
  src: url(../fonts/Vazir.eot?#iefix) format(embedded-opentype),
    url(../fonts/Vazir.woff) format(woff),
    url(../fonts/Vazir.woff2) format(woff2),
    url(../fonts/Vazir.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Vazir-Medium;
}

a:has(.fa-brands), a:has(.fa-solid) {
  text-decoration: none;
}
